<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta name="viewport" content="width=device-width,initial-scale=1"></meta>
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></link>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <title>VR Project Web Application - create a multimedia</title>
    </h:head>
    <h:body>
        <div style="border: 0px solid red; padding: 0px ">
            <p:tabMenu activeIndex="#{param.i}">
                <p:menuitem value="Home" outcome="/index" icon="pi pi-home">
                    <f:param name="i" value="0" />
                </p:menuitem>
                <p:menuitem value="Multimedia" outcome="index" icon="pi pi-search">
                    <f:param name="i" value="1" />
                </p:menuitem>
                <p:menuitem value="Scene" outcome="/project/index" icon="pi pi-file">
                    <f:param name="i" value="2" />
                </p:menuitem>
                <p:menuitem value="Vocal" outcome="/vocal/index" icon="pi pi-briefcase">
                    <f:param name="i" value="3" />
                </p:menuitem>
                <p:menuitem value="Live" outcome="/live/index" icon="pi pi-user">
                    <f:param name="i" value="4" />
                </p:menuitem>
            </p:tabMenu>
        </div>

        <div style="border: 1px solid red;text-align: center; font-size:40px;">
            <p class="page_title">Add a new multimedia file (not working, DB and beans are not binding)    </p>
        </div>

        <div style="border: 1px solid red">
            <h:form>
                <h:panelGrid columns="2" columnClasses="lavbelq">
                    <h:outputText value="Name"/> 
                    <p:inputText label="projectName" id="projectName" value="#{projectManagedBean.CHANGE}"/>

                    <h:outputText value="Description"/> 
                    <p:editor id="projectDescription" value="#{projectManagedBean.CHANGE}"/>

                    <h:outputText value="Category"/>
                    <p:inputText label="projectMultimediaCategory" id="projectMultimediaCategory" value="#{projectManagedBean.CHANGE}"/>

                    <h:outputText value="&nbsp;"/><p:commandButton action="#{projectManagedBean.CHANGE}" value="Edit"/>
                </h:panelGrid>
            </h:form>
        </div>

        <p:themeSwitcher style="width:150px">
            <f:selectItem itemLabel=" nova-dark" itemValue="" />
            <f:selectItems value="#{bean.themes}" />
        </p:themeSwitcher>


    </h:body>
</html>

