<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:head>
        <meta name="viewport" content="width=device-width,initial-scale=1"></meta>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></link>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <title>VR Project Web Application - Multimedia</title>
    </h:head>
    <h:body>

        <div class="container-fluid" style="border: 0px solid red; padding: 0px ">
            <p:tabMenu activeIndex="#{param.i}" >
                <p:menuitem value="Home" outcome="/index" icon="pi pi-home">
                    <f:param name="i" value="0" />
                </p:menuitem>
                <p:menuitem value="Multimedia" outcome="/multimedia/index" icon="pi pi-search">
                    <f:param name="i" value="1" />
                </p:menuitem>
                <p:menuitem value="Scene" outcome="/project/index" icon="pi pi-file">
                    <f:param name="i" value="2" />
                </p:menuitem>
                <p:menuitem value="Vocal" outcome="index" icon="pi pi-briefcase">
                    <f:param name="i" value="3" />
                </p:menuitem>
                <p:menuitem value="Live" outcome="/live/index" icon="pi pi-user">
                    <f:param name="i" value="4" />
                </p:menuitem>
            </p:tabMenu>
        </div>



        <div style="border: 0px solid red;text-align: center; font-size:40px;">
            <p class="page_title">Multimedia list (not working, DB and beans are not binding)    </p>
        </div>
        
        <div>
            <h:form id="form">      


                <p:dataTable id="basicDT" var="CHANGE" value="#{CHANGE}">
                    <!--Ajout d'un header au data table-->
                    <!--        <f:facet name="header"></f:facet>-->

                    <!--CHANGE TO DO, ID TEMPORAIRE POUR TEST-->
                    <p:column headerText="Id (temporary)">
                        <h:outputText value="#{CHANGE}" />
                    </p:column>

                    <!--CHANGE TO DO, multimedia name column-->
                    <p:column headerText="Multimedia Name">
                        <h:outputText value="#{CHANGE}" />
                    </p:column>

                    <!--CHANGE TO DO, Category column-->
                    <p:column headerText="Category">
                        <h:outputText value="#{CHANGE}" />
                    </p:column>

                    <!--CHANGE TO DO, modify column-->
                    <p:column headerText="Modify" style="text-align: center">
                        <p:commandButton update=":form:carDetail" oncomplete="PF('carOP').show('#{CHANGE}')" icon="pi pi-search" title="View">
                            <f:setPropertyActionListener value="#{car}" target="#{CHANGE}" />
                        </p:commandButton>
                    </p:column>

                    <!--CHANGE TO DO, modify column-->
                    <p:column headerText="Delete" style="text-align: center">
                        <p:commandButton update=":form:carDetail" oncomplete="PF('carOP').show('#{component.clientId}')" icon="pi pi-search" title="View">
                            <f:setPropertyActionListener value="#{car}" target="#{dtSelectionView.selectedCar}" />
                        </p:commandButton>
                    </p:column>
                </p:dataTable>

            </h:form>
        </div>


        <div class="button-bottom-right" style="text-align: right; margin: 50px 20px 10px 0px">
            <p:button outcome="createMultimedia" value="+" style="margin-right:20px; border-radius: 50%">
                <f:param name="i" value="1" />
            </p:button>
        </div>

    </h:body>
</html>

