<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title>VR Project Web Application</title>
    </h:head>
    <h:body>
        Hello world !

        <p:tabMenu activeIndex="#{param.i}">
            <p:menuitem value="Home" outcome="/index" icon="pi pi-home">
                <f:param name="i" value="0" />
            </p:menuitem>
            <p:menuitem value="Multimedia" outcome="/multimedia/index" icon="pi pi-search">
                <f:param name="i" value="1" />
            </p:menuitem>
            <p:menuitem value="Scene" outcome="/project/index" icon="pi pi-file">
                <f:param name="i" value="2" />
            </p:menuitem>
            <p:menuitem value="Vocal" outcome="/vocal/index" icon="pi pi-briefcase">
                <f:param name="i" value="3" />
            </p:menuitem>
            <p:menuitem value="Live" outcome="index" icon="pi pi-user">
                <f:param name="i" value="4" />
            </p:menuitem>
        </p:tabMenu>



    </h:body>
</html>

