<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <meta name="viewport" content="width=device-width,initial-scale=1"></meta>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></link>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <title>VR Project Menu</title>
    </h:head>
    
    
    
    <h:body >
        <div class="container-fluid" style="border: 0px solid red; padding: 0px ">
            <p:tabMenu activeIndex="#{param.i}" >
                <p:menuitem value="Home" outcome="/index" icon="pi pi-home">
                    <f:param name="i" value="0" />
                </p:menuitem>
                <p:menuitem value="Multimedia" outcome="/multimedia/index" icon="pi pi-search">
                    <f:param name="i" value="1" />
                </p:menuitem>
                <p:menuitem value="Scene" outcome="/project/index" icon="pi pi-file">
                    <f:param name="i" value="2" />
                </p:menuitem>
                <p:menuitem value="Vocal" outcome="index" icon="pi pi-briefcase">
                    <f:param name="i" value="3" />
                </p:menuitem>
                <p:menuitem value="Live" outcome="/live/index" icon="pi pi-user">
                    <f:param name="i" value="4" />
                </p:menuitem>
            </p:tabMenu>
        </div>

        
        
        <div style="border: 0px solid red;text-align: center; font-size:40px;">
             <p class="page_title">Virtual Reality Project</p>
        </div>
        
        
        
        <div class="container" style="border: 0px solid red; display: flex; margin:20px auto" >
            <div class="p-grid col-lg-5" style="border: 0px solid red">
                <div class="p-col" style="margin: 20px auto">
                    <p:panel header="About multimedia">
                        <h:outputText value="Cette section vous permettra de gérer la base de donnée de vos fichiers." />
                    </p:panel>
                </div>
                <div class="p-col" style="margin: 20px auto">
                    <p:panel header="About scene">
                        <h:outputText value="Cette section vous permet de gérer vos scène créées." />
                    </p:panel>
                </div>
            </div>    
            
            <div class="col-lg-2" style="border: 0px solid red; text-align: center; font-size: 30px; margin: auto">
                <p id="home_middle_text">HOW<br/>TO<br/>USE<br/>IT<br/>?</p>
            </div>
            
            <div class="p-grid col-lg-5" style="border: 0px solid red">
                <div class="p-col" style="margin: 20px auto">
                    <p:panel header="About vocal">
                        <h:outputText value="Vous pouvez configurer une connexion vocal pendant l'utilisation du visiocasque." />
                    </p:panel>
                </div>
                <div class="p-col" style="margin: 20px auto">
                    <p:panel header="About live">
                        <h:outputText value="La section live va vous permettre de voir en temps réel ce que votre caméra 360 ou non diffusera. Tout ceci en silmutannée dans le visiocasque ou dans un navigateur web." />
                    </p:panel>
                </div>
            </div>
        </div>
    </h:body>
</html>

